.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
*.lock
.DS_Store
**/doc/api/
**/ios/Flutter/.last_build_id
.metadata
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/linux/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.cc
